build/cache/*
build/downloads/*
build/sstate-cache/*
build/tmp/*
bitbake-cookerdaemon.log
.bash_history
.cache/*
build/conf/conf-notes.txt
build/conf/conf-summary.txt
.wget-hsts

# We might want this eventually, for now, ignoring
build/conf/templateconf.cfg 
# pixi environments
.pixi
*.egg-info
